body {
  background-color: rgb(255, 255, 255);
  position: relative;
  min-height: 100vh;
}

header {
  background-color: lightblue;
  background-image: linear-gradient(
    to bottom right,
    rgb(56, 56, 164),
    lightblue
  );
  width: 100%;
  height: 170px;
  padding: 60px;
  text-align: center;
  margin-bottom: 40px;
}

/* Title Text */
h1 {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 30pt;
  font-weight: bolder;
  margin: 0 auto;
}

span {
  font-size: 20pt;
}

/* Entire page flex row */
main {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Left column flex column */
.flexsearch {
  display: flex;
  flex-direction: column;
}

/* Search for a City:  &&  Results: */
h2 {
  color: rgb(56, 56, 164);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin: 25px 0;
}

/* Entry field  */
#input {
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  color: rgb(35, 35, 35);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(147, 147, 147);
}

/* Search Button */
#search {
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  color: white;
  background-color: rgb(56, 56, 164);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 25px 0;
}

/* Results container below line */
.results {
  background-color: white;
  border-top: 1px solid rgb(56, 56, 164);
  padding-top: 25px;
  margin-top: 25px;
}

/* Latest search results / history */
#result1 {
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  color: rgb(56, 56, 164);
  background-color: rgb(242, 242, 255);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

/* section {
  margin: 20px 60px;
} */

/* Card container */
#card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 30px rgb(205, 205, 205);
  border-radius: 15px;
  padding: 30px;
  align-items: center;
  margin: 65px 0 0 50px;
}

/* Main gif */
#day1icon {
  margin: 0 20px;
  width: 150px;
}

#day2icon,
#day3icon,
#day4icon,
#day5icon,
#day6icon {
  width: 75px;
  margin: 20px;
}

#city-date {
  display: flex;
  flex-direction: column;
}

/* City Name */
h3 {
  color: rgb(56, 56, 164);
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin: 20px;
}

/* Today's Date */
h4 {
  color: rgb(0, 0, 0);
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  justify-self: left;
  margin: 0 20px;
}

/* All Detail labels & values */
h5 {
  color: rgb(45, 45, 45);
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  justify-self: left;
  margin: 10px 0;
}

h6 {
  color: rgb(45, 45, 45);
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  justify-self: left;
  margin: 10px 0;
}

#uvi {
  color: white;
  background-color: orange;
  background-image: linear-gradient(to top left, red, orange);
  padding: 1px 10px 1px 1px;
  text-align: left;
}

#subhead {
  text-align: center;
  margin: 80px auto;
}

.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.small-card {
  display: block;
  margin: 10px;
  height: auto;
  width: 100%
  background-color: white;
  box-shadow: 0px 8px 30px rgb(205, 205, 205);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}

.smallflex {
  display: flex;
  flex-direction: row;
}

#labels,
#details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  align-items: flex-start;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(246, 246, 246);
  align-items: center;
  text-align: center;
  padding: 40px;
}

/* Footer text */
a {
  font-family: "Quicksand", sans-serif;
  font-size: 9pt;
  text-decoration: none;
  color: rgb(184, 184, 184);
}

@media screen and (max-width: 1100px) {
  main {
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
  }

  header {
    height: 100px;
    padding: 30px;
  }

  h1 {
    font-size: 22pt;
  }

  h3 {
    font-size: 18pt;
  }

  h4,
  h5 {
    font-size: 12pt;
  }

  #main-icon {
    width: 120px;
    margin: 0px 10px;
  }

  span {
    font-size: 18pt;
  }

  #card {
    width: 100%;
    margin: 50px auto;
  }

  .flexsearch {
    margin-bottom: 40px;
  }

  #labels,
  #details {
    padding: 10px;
  }
}
