html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0 0 150px;
}

header {
  background-image: url(./assets/clouds.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 170px;
  padding: 60px;
  text-align: center;
  margin-bottom: 40px;
}

/* Title Text */
h1 {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  font-size: 30pt;
  font-weight: bolder;
  margin: 0 auto;
}

span {
  font-size: 20pt;
}

/* Entire page flex row */
main {
  min-height: 100%;
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Left column flex column */
.flexsearch {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* Search for a City:  &&  Results: */
h3 {
  color: rgb(33, 121, 198);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin: 25px 0;
}

/* Entry field  */
#input {
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  color: rgb(35, 35, 35);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(33, 121, 198);
}

#input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Search Button */
#search {
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  color: white;
  background-color: rgb(33, 121, 198);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 25px 0;
}

/* Results container below line */
.results {
  border-top: 1px solid rgb(33, 121, 198);
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
}

#results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#closeBtn {
  position: relative;
  height: 40px;
  width: 35px;
  padding: 5px;
  background-color: white;
  border: 1px solid rgb(33, 121, 198);
  border-radius: 3px;
  color: rgb(33, 121, 198);
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
}

/* Latest search results / history */
.result {
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  color: rgb(33, 121, 198);
  background-color: rgb(232, 244, 255);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
  display: none;
}

/* Card container */
#card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 30px rgb(205, 205, 205);
  border-radius: 15px;
  padding: 30px;
  align-items: center;
  margin: 65px 0 25px 65px;
}

/* Main gif */
#day1icon {
  margin: 0 20px;
  width: 150px;
}

#day2icon,
#day3icon,
#day4icon,
#day5icon,
#day6icon {
  width: 75px;
  margin: 20px;
}

section {
  display: none;
}

/* City Name */
h2 {
  color: rgb(33, 121, 198);
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin: 20px;
}

/* Today's Date */
h4 {
  color: rgb(35, 35, 35);
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  justify-self: left;
  margin: 0 20px;
}

/* All Detail labels & values */
h5 {
  color: rgb(45, 45, 45);
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  justify-self: left;
  margin: 10px 0;
}

/* Small card labels and values  */
h6 {
  color: rgb(45, 45, 45);
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  justify-self: left;
  margin: 10px 0;
}

#uvi {
  color: rgb(45, 45, 45);
  padding: 1px 15px 1px 1px;
  text-align: left;
}

#subhead {
  text-align: center;
  margin: 70px 0;
  padding-top: 80px;
  border-top: 1px solid rgb(33, 121, 198);
}

.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.small-card {
  margin: 0 20px 40px 20px;
  height: auto;
  width: 220px;
  background-color: white;
  box-shadow: 0px 8px 30px rgb(205, 205, 205);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
}

.smallflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#labels,
#details {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  align-items: flex-start;
}

/* Footer */
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(246, 246, 246);
  align-items: center;
  text-align: center;
  padding: 15px;
}

/* Footer text */
a {
  font-family: "Quicksand", sans-serif;
  font-size: 9pt;
  text-decoration: none;
  color: rgb(184, 184, 184);
}

@media screen and (max-width: 1200px) {
  main {
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
  }

  header {
    height: 100px;
    padding: 30px;
  }

  h1 {
    font-size: 22pt;
  }

  h3 {
    font-size: 18pt;
  }

  h4,
  h5 {
    font-size: 12pt;
  }

  #main-icon {
    width: 120px;
    margin: 0px 10px;
  }

  span {
    font-size: 18pt;
  }

  .results {
    margin-bottom: 50px;
  }

  #card {
    width: 100%;
    margin: 50px auto;
  }

  .flexsearch {
    margin-bottom: 40px;
    width: 50%;
  }

  #labels,
  #details {
    padding: 10px;
  }

  .forecast {
    justify-content: center;
  }
}
